sentinel-playbook-fixed.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@listCallbackUrl()"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Initialize_userEmail": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "userEmail",
                            "type": "string",
                            "value": "@{first(triggerBody()?['object']?['properties']?['relatedEntities'])?['properties']?['userPrincipalName']}"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_incidentId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "incidentId",
                            "type": "string",
                            "value": "@{triggerBody()?['object']?['properties']?['incidentNumber']}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_userEmail": ["Succeeded"]
                }
            },
            "Initialize_severity": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "severity",
                            "type": "string",
                            "value": "@{triggerBody()?['object']?['properties']?['severity']}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_incidentId": ["Succeeded"]
                }
            },
            "Initialize_incidentTitle": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "incidentTitle",
                            "type": "string",
                            "value": "@{triggerBody()?['object']?['properties']?['title']}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_severity": ["Succeeded"]
                }
            },
            "Condition_Check_Severity": {
                "type": "If",
                "expression": {
                    "or": [
                        {
                            "equals": ["@variables('severity')", "High"]
                        },
                        {
                            "equals": ["@variables('severity')", "Critical"]
                        }
                    ]
                },
                "actions": {
                    "HTTP_Call_DLP_Engine": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://dlp-engine-a9g7hjfvczfjfmdn.eastus-01.azurewebsites.net/api/remediate",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "userPrincipalName": "@{variables('userEmail')}",
                                "incidentId": "@{variables('incidentId')}",
                                "incidentTitle": "@{variables('incidentTitle')}",
                                "severity": "@{variables('severity')}",
                                "actions": ["revokeSessions", "blockUser"],
                                "source": "sentinel-playbook",
                                "timestamp": "@{utcNow()}"
                            },
                            "retryPolicy": {
                                "type": "exponential",
                                "count": 4,
                                "interval": "PT10S",
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT1H"
                            }
                        },
                        "runAfter": {}
                    },
                    "Add_Comment_Success": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment",
                            "body": {
                                "incidentArmId": "@{triggerBody()?['object']?['id']}",
                                "message": "🤖 **DLP Automated Remediation**\n\n**Status:** ✅ Success\n\n**User:** @{variables('userEmail')}\n**Incident:** #@{variables('incidentId')}\n**Timestamp:** @{utcNow()}\n\n📊 [View Dashboard](https://dlp-engine-a9g7hjfvczfjfmdn.eastus-01.azurewebsites.net/)\n\n*Automated by DLP Remediation Engine v2.0*"
                            }
                        },
                        "runAfter": {
                            "HTTP_Call_DLP_Engine": ["Succeeded"]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Add_Comment_Low_Severity": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment",
                                "body": {
                                    "incidentArmId": "@{triggerBody()?['object']?['id']}",
                                    "message": "ℹ️ **DLP Playbook Triggered**\n\nSeverity: @{variables('severity')}\n\n**Action:** No automated remediation for Low/Medium severity.\n\n📊 [View Dashboard](https://dlp-engine-a9g7hjfvczfjfmdn.eastus-01.azurewebsites.net/)"
                                }
                            },
                            "runAfter": {}
                        }
                    }
                },
                "runAfter": {
                    "Initialize_incidentTitle": ["Succeeded"]
                }
            }
        },
        "outputs": {}
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/9b18a538-d882-43a9-a312-3b72c86c5994/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/9b18a538-d882-43a9-a312-3b72c86c5994/resourceGroups/DLP_AUTOMATION_DEVELOPMENT/providers/Microsoft.Web/connections/azuresentinel-1",
                    "connectionName": "azuresentinel-1"
                }
            }
        }
    }
}
